* {
    margin: 0;
}

.container-global {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(rgb(6, 44, 61), rgb(48, 4, 68));
    background-repeat: no-repeat;
    font-family: Inter;
    height: 100%;
    overflow-y: auto;
}

.container-global__header {
    display: flex;
    flex-direction: column;
}
.container-global__header__nav {
    display: flex;
    justify-content: flex-end;
    width: 95%;
}
.container-global__header__nav ul {
    display: flex;
}
.container-global__header__nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 5px;

}
.container-global__header__nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: small;
}

.button-shopping-cart {
    margin-top: -0.45rem;
    margin-right: 1rem;
    }   
.button-shopping-cart a{
        text-decoration: none;
        font-size: 20px;
        width: 40px;
        height: 40px;
        line-height: 42px;
        text-align: center;
        color: #f1f1f1;
        transition: all .4s ease-in-out;
} 
.container-global__header__filter {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.filter__buscador__form{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.form__input {
    width: 70%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background: #fff;
    outline: none;
    padding: 0 25px;
    border-radius: 10px 0 0 10px;
}
input {
    display: inline-block;
    font-size: small;
    box-sizing: border-box;
}
input[type="submit"] {
    border-radius: 0 10px 10px 0;
    width: 100px;
    height: 33px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgb(48, 4, 68);
    color: #fff;
}
input[type="submit"]:hover {
    background: rgb(118, 1, 87);
}

.header__filter__section {
    margin-top: 2px;
    width: 70%;
    height: 3vh;
    display: flex;
     
}

.section__button {
    font-size: small;
    text-align: center;
    text-decoration: none;
    margin: 0 1vh;
    width: 70%;
    height: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(152, 150, 150);
    background: linear-gradient(to right bottom,
            rgba(205, 205, 205, 0.7), rgba(130, 130, 130, 0.2));
}
.section__button:hover{
    color: white;
}

.section__button:focus {
    color: white;
    background: linear-gradient(to right bottom,
            rgba(205, 205, 205, 0.8), rgba(130, 130, 130, 0.4));
}
.container-global__body{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 1vh;
}
.container-global__body__box{
    width: 90%;
    height: 100%;
    
}
.body__buttons{
    position: fixed;
    top: 40%;
    left: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.body__buttons a{
    text-decoration: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 0.5rem;
    line-height: 42px;
    text-align: center;
    color: #f1f1f1;
    transition: all .4s ease-in-out;

}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 100%;
    height: auto;
}
.footer__buttons {
    display: flex;
    justify-content: center;
}
.footer__buttons a {
    text-decoration: none;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 0.5rem;
    line-height: 42px;
    text-align: center;
    background: rgba(107, 107, 107, 0.5);
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;

}
.footer__buttons a:hover {
    transform: scale(1.2);
}
.footer__text {
    font-size: 15px;

}

.toast-body{
    background-color: greenyellow;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
}