
.glass{
    position: relative;
    background: rgba(214, 214, 214, 0.3);
    width: 100%;
    height: 100%;
    padding-bottom: 2%;
    border-radius: 1rem;
    display: flex;
    
}
.glass__guns-items{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
}
.guns-items-btn{
    border: none;
    background-color: transparent;
}
.guns-items-btn__item{
    cursor: pointer;
    filter: grayscale(100%);
}
.guns-items-btn__item:hover{
    filter: grayscale(0%);
    transition: 1s;
}
.glass__guns-text{
    position: fixed;
    display: grid;
    font-size: 21vh;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    top: 50%;
    right: 6%;
    color: #00000066;
}






