.container-global__body__box{
    display: flex;
    justify-content: center;
}
.glass {
    position: relative;
    width: 80%;
    background: white;
    min-height: 650px;
    border-radius: 10px;
    background: linear-gradient(to right bottom,
            rgba(206, 206, 206, 0.7), rgba(224, 224, 224, 0.2));
    overflow: hidden;
}
.carousel{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.glass__diagonal-text {
    position: absolute;
    width: 100%;
    transform: rotate(337deg);
    font-size: 700%;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    top: 17%;
    left: 6%;
}
.carousel-item{
    position: inherit;
    left: 30%;
}
.d-block{
    max-width: 500px;
    max-height: 500px;
}

.dark-text {
    color: rgba(0, 0, 0, 0.3);
    margin-left: -4rem;
}

.light-text {
    color: rgba(0, 0, 0, 0.105);
    margin-left: 0%;
}

@media(max-width: 980px){
    .carousel-item{
        position: relative;
        left: 20%;
    }
    .d-block{
        max-width: 400px;
        max-height: 400px;
    }
}
@media(max-width: 650px){
    .carousel-item{
        position: relative;
        left: 5%;
    }
    .d-block{
        max-width: 400px;
        max-height: 400px;
    }
}
@media(max-width: 500px){
    .carousel-item{
        position: relative;
        left: 10%;
    }
    .d-block{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-60%);
        max-width: 300px;
        max-height: 300px;
    }
}
@media(max-width: 400px){
    .carousel-item{
        position: relative;
        left: 5%;
    }
    .d-block{
        max-width: 300px;
        max-height: 300px;
    }
}
@media(max-width: 350px){
    .carousel-item{
        position: relative;
        left: 0%;
    }
    .d-block{
        max-width: 300px;
        max-height: 300px;
    }
}