@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.container-index{
background-image: url(../Assets/Images/background-crear-cuenta.png);
background-size: cover; 
background-repeat: no-repeat;
background-image: url(../Assets/Images/background-crear-cuenta.png);
background-attachment: fixed;
background-position: start;
}


.container-index__logo{
    position: absolute; 
    left: 2rem;
    top: 1rem;
}

.container-index__login-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: transparent;
    list-style: none;
    }
.container-index__login-box h2{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;

}    
.container-index__login-box .user-box input{
    position: relative;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;

}   


.container-index__login-box .user-box label {
    position: relative;
    top: -8.5vh;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    
    
}

.user-box {
    list-style: none;
}

.container-index__login-box .user-box input:focus~label,
.container-index__login-box .user-box input:valid~label {
    top: -5rem;
    color: #ff00ee;
    font-size: 12px;
    transform: translateY(-150%);
    font-size: 15px;
}

.container-buttons{
    height: 7rem;
    display: flex;
    flex-direction: column;
}
.button-form{
    background-color: rgba(149, 0, 159, 0.3);
    text-align: center;
    padding: 0.8rem 0rem;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;;

}

.button-form a {
    color: #fff;
    text-decoration: none;
}

.button-form:hover{
    background-color: rgba(149, 0, 159, 0.5);
}

#Registrate{
    color: white;
    font-size: 12px;
}

#Registrate a {
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
}

#Registrate a:hover {
    color: rgba(165, 165, 165, 0.5);
}
@media(max-width:525px){
    h2{
        font-size: medium;
    }
}