@mixin glass-mixin($mt, $min-h, $w) {

    background: linear-gradient(to right bottom, rgba(206, 206, 206, 0.7), rgba(224, 224, 224, 0.2));
    border-radius: 10px;
    margin-top: $mt;
    min-height: $min-h;
    overflow: hidden;
    position: relative;
    width: $w;
}